<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplicacionuamp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionUAMP">
        <activity
            android:name=".actividad16"
            android:exported="false" />
        <activity
            android:name=".actividad15"
            android:exported="false" />
        <activity
            android:name=".splashActivity"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="false" />
        <activity
            android:name=".actividad14"
            android:exported="false" />
        <activity
            android:name=".actividad13"
            android:exported="false" />
        <activity
            android:name=".actividad12"
            android:exported="false" />
        <activity
            android:name=".actividad11"
            android:exported="false" />
        <activity
            android:name=".actividad10"
            android:exported="false" />
        <activity
            android:name=".actividad9"
            android:exported="false"
            android:label="@string/title_activity_actividad9"
            android:theme="@style/Theme.AplicacionUAMP.NoActionBar" />
        <activity
            android:name=".actividad8"
            android:exported="false" />
        <activity
            android:name=".actividad7"
            android:exported="false" />
        <activity
            android:name=".actividad6"
            android:exported="false" />
        <activity
            android:name=".actividad5"
            android:exported="false" />
        <activity
            android:name=".Actividad4licenciaturas"
            android:exported="false" />
        <activity
            android:name=".actividad3Materias"
            android:exported="false" />
        <activity
            android:name=".actividad2iniciodesesion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>